:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;


  color-scheme: light dark;
  color: #000000;
  background-color: #000;

  --primary-green: #8CC63F;       /* 核心草绿色 */
  --primary-green-dark: #76a835;  /* 深绿色用于点击态 */
  --text-main: #333333;           /* 主要文字黑 */
  --text-sub: #666666;            /* 次要文字灰 */
  --bg-input: #F7F8FA;            /* 输入框浅灰底 */
  --border-color: #E5E7EB;        /* 边框颜色 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1. 重置默认样式 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden; /* 防止水平滚动条 */
}

 /*2. 为所有元素设置 box-sizing*/
* {
  box-sizing: border-box;
}


/* 4. 应用根容器设置 */
#app { /* 或者你的 #app-container */
  width: 100%; /* 占据 body 的 100% 宽度 */
  display: flex; /* 如果 App.vue 内部是 Flex 布局，这里也需设置 */
  flex-direction: column; /* 垂直布局 */
  background-color: #fff;
}
.van-pull-refresh {
  height: calc(100vh - 50px) !important;
  overflow: auto !important;
}
.van-list { height: auto !important; }